export PS='wesh'
export SIM_PATH='/home/yup/Desktop/Patate/DonkeySimLinux/donkey_sim.x86_64'
export ACCESS_KEY='AKIATHOXZJ7QWY7P2F6X'
export SECRET_ACCESS_KEY='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'

source venv/bin/activate
